{% extends 'base.html' %}

{% block title%}
Home | Truckporter
{% endblock title %}

{% block content %}
<body>
{%load staticfiles %}
<script src="{% static 'js/smoothscroll.js' %}" ></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/sweetalert-dev.js' %}"></script>

<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">

<nav class="navbar  navbar-fixed-top " >
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<a class="navbar-brand">
				<img class="img-responsive" src="{% static 'img/logo_min.png' %}" width="40" /> 
			</a>
		</div>
		<div class="navbar-header" style="float:none; display:inline-block;">
			<h3>
				My Profile
			</h3>
		</div>
		
		<div class=" pull-center" style="float:right;  ">
			<ul class="nav nav-pills navbar-right ">
		
				
				<div class="dropdown"   >
					<li class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  id="pic_dropdown">
						<label style="color:#000;padding-top: 10%;">Welcome, {{login_name}} </label>
						<img src="{% static 'img/pro_pic.jpg' %}" class="img-responsive img-circle"  style="display:inline-block; height:40px; margin:10px" > 
					</li>

					<ul class="dropdown-menu" aria-labelledby="pic_dropdown">
						<li><a href="/profile/">My Profile</a></li>
						<li><a href="/referrals/">Referrals</a></li>
						<li><a href="/logout/">Logout</a></li>
					</ul>
				</div>	
			</ul>
		</div>
	</div>
</nav>





<div class="top-content"  >	
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="container-fluid col-sm-8 col-md-10 col-md-offset-1 col-sm-offset-2 " style="margin-bottom:20px" id="About">
					<div  class="form-bottom">
						<h1 style="background-color: #FB3; opacity:.8;margin:0px">About</h1>
						<table  style="padding-top:100px; padding-bottom:20px" >
							<tr>
								<td class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2">
									<img class="img-responsive " src="{% static 'img/logo_full.png' %}" >
								</td>
								<td>
									<p style="padding-left:10px;">
										Need a truck? We got a fleet ready, just for you. Truckporter aims to disrupt the highlt unorganized logistics framework of India, one step at a time. We leverage technology to make an otherwise head-spinning-hair-pulling-drama a one-stop hassle free experience.
									</p>
								</td>
							</tr>
						</table>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<form class="form-signin" action="/dashboard/" style="margin:20px">
			<input type="submit" value="Back to Dashboard" >
		</form>
	</div>
</div>


{% if msg_type %}
	<script type="text/javascript">
		swal( "{{msg_title}}" , "{{msg_text}}", "{{msg_type}}");
	</script>
{% endif %}


<script type="text/javascript">
$('li > a').click(function() {
		$('li').removeClass();
		$(this).parent().addClass('active');
});	

function change_pwd() {
	var t1 = document.getElementById('password_controls');
	if(t1.style.display == 'block')
		t1.style.display='none';
	else
		t1.style.display = 'block';
}

function update_pass() {
	var old_p = $('#old_p').val();
	var new_p = $('#new_p').val();
	var conf_p = $('#conf_p').val();

	if(new_p != conf_p)
	{
		swal("Change Password", "Your passwords didn't match. Confirm your password again", "error");
		return;
	}

	$.ajax({
		url: '/ajax_change_password/',
		type: 'get',
		dataType: "json",
		data: { old_password : old_p, 
				new_password : new_p},
		success: function(data) {
			swal("Update Password", data['text'], data['status']);
		},
		failure: function(data) { 
			swal("Could not update", "Could not connect to server", "error");
		},
		
		}); 
	
}
</script>


</body>
{% endblock %}