{% extends 'base.html' %}

{% block title%}
Home | Truckporter
{% endblock title %}

{% block content %}
{%load staticfiles %}
<script src="{% static 'js/smoothscroll.js' %}" ></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/sweetalert-dev.js' %}"></script>

<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
				
<body data-spy="scroll" data-target="#navbar_buttons" style="background-color:#FFEF81">
<nav class="navbar  navbar-fixed-top "   >
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">
				<img class="img-responsive" src="{% static 'img/logo_min.png' %}" width="40" /> 
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
				data-target="#navbar_buttons" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				
		</div>

		<div class="collapse navbar-collapse  pull-right" id="navbar_buttons">
			<ul class="nav nav-pills navbar-right">
				<li class="active"><a href="/#Home" >Home</a></li>
				<li ><a href="/#About" >About</a></li>
				<li ><a href="/#Contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>


<div class="top-content" id = "Home">	
	<div class="inner-bg">
		<div class="container">
			<div class="row" >
				<center>
					<img class="login-logo" src="{% static 'img/logo_full.png' %}" style="padding:50" />
				</center>
				<div class="col-sm-4 col-sm-offset-4 form-box" >
					<div class="form-bottom">
						<form role="form" action="/reset_password/" method="post" class="form-signin" id="reset_form">
							{% csrf_token %}
							<label style="color:#FFF">Forgot Password</label>
							<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
							<input type="text" name="email" class="form-control" placeholder="Email" required>
							
					        <div class="clear"></div>
							
							<center>
								<input type="button" value="Go Back" onclick="go_back()" />
					        	<input type="submit" value="Next" />
							</center>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function go_back() {
		window.history.back();
	}
</script>

<!-- TEMPORARY REMEOVED AS FOLLOWING CODE REPLICATES ON HOMEPAGE AND HENCE COMMENTED-->
<!--
<div class="container-fluid col-sm-8 col-md-10 col-md-offset-1 col-sm-offset-2" style="padding-top:70px; margin-bottom:500px" id="About">
	<h1>About</h1>
	<table  style="margin-top:100px;">
		<tr>
			<td class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2">
				<img class="img-responsive " src="{% static 'img/logo_full.png' %}" >
			</td>
			<td>
				<p style="padding-left:10px;">
					Need a truck? We got a fleet ready, just for you. Truckporter aims to disrupt the highlt unorganized logistics framework of India, one step at a time. We leverage technology to make an otherwise head-spinning-hair-pulling-drama a one-stop hassle free experience.
				</p>
			</td>
		</tr>
	</table>
	<div class="clear"></div>
</div>
	


<div  class="container-fluid col-sm-6 col-md-8 col-md-offset-2 col-sm-offset-3" style="padding-top:70px; padding-bottom:500px;"  id="Contact">
	<h1>Contact</h1>
	<p  style="margin-top:50px;">
		Facing any trouble? We're here to help! Have some feedback or criticism? We're all ears!

		Just drop us a mail at support@truckporter.com

		Alternatively, you can call us at +91-999999999999
</div>

-->

{% if msg_type %}
	<script type="text/javascript">
		swal( "{{msg_title}}" , "{{msg_text}}", "{{msg_type}}");
	</script>
{% endif %}

<script type="text/javascript">
$('li > a').click(function() {
		$('li').removeClass();
		$(this).parent().addClass('active');
});	


</script>
</body>
{% endblock %}